/* a-link{
    background-color: #fff;
    width: 200px;
    height: 200px;
} */
span {
    margin-right: 0.5em;
}

#place-label {
    position: absolute;
    top: 5%;
    left: 0%;
    display: flex;
    justify-content: center;
    width: 100%;
}

#place-label > span {
    z-index: 99999;
    padding: 0.25em;
    color: #ff7500;
    text-align: center;
    background-color: white;
    font-size: 1.5em;
    border-radius: 5px;
}
