<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="app">
        <father></father>
    </div>
    
    <template id="father">
        <div>
            <son>
                <div slot="one">我是追加数据1</div>
                <div slot="one">我是追加数据1.1</div>
                <div slot="two">我是追加数据2</div>

                <!-- v-slot -->
                <!-- (#default == v-slot:default="scope") default用于匿名插槽-->
                <!-- <template #default="scope">
                    <div>names --- {{ scope.names }}</div>
                    <li v-for="(name,i) in scope.names" :key="i">{{ i }}</li>
                </template> -->
                <!-- 推荐 具名的v-slot -->
                <template #three="scope">
                    <div>names --- {{ scope.names }}</div>
                    <li v-for="(name,i) in scope.names" :key="i">{{ i }}</li>
                </template>

                <!-- 不推荐 v-slot:default-->
                <!-- <template v-slot:default="scope">
                    <div>nums --- {{ scope.nums }}</div>
                    <li v-for="(num,i) in scope.nums" :key="i">{{ i }}</li>
                </template> -->

                <!-- 不推荐 -->
                <!-- slot-scope="scope"的作用：接收子组件暴露的数据 -->
                <template slot-scope="scope">
                    <div>ids --- {{ scope.ids }}</div>
                    <li v-for="(id,i) in scope.ids" :key="i">{{ i }}</li>
                </template>
            </son>
        </div>
    </template>

    <template id="son">
        <div>
            <div>我是头部</div>

            <!-- 具名插槽 -->
            <slot name="one">我是插槽1</slot>
            <slot name="two">我是插槽2</slot>

            <!-- v-slot -->
            <slot name="three" v-bind:names="names">我是插槽3</slot>

            <!-- 作用域插槽 -->
            <!-- v-bind:ids="ids"的作用：将当前子组件的ids数据暴露给父组件 -->
            <slot v-bind:ids="ids">我是插槽4</slot>
            <!-- <slot :nums="nums">我是插槽5</slot> -->

            <div>我是尾部</div>
        </div>
    </template>

    <script src="../../../lib/vue.js"></script>
    <script>
        Vue.component("father",{
            template: "#father",
            components: {
                "son": {
                    template: "#son",
                    data: function(){
                        return {
                            names: ['oMing','Unity','Vue','JS'],
                            ids: ['1','2'],
                            nums: [2,8]
                        }
                    },
                }
            },
        })
        new Vue({
            el: ".app",
        })
    </script>
</body>
</html>