#content {
	width: 1920px;
	height: 100%;
	background: #121a3a;
}

/*顶部类*/
.hd {
	height: 90px;
	width: 100%;
	background: url(../images/hd-bg.png) no-repeat center top;
}
.hd-title { 
	width:440px; 
	height:66px; 
	margin:0 auto; 
	text-align:center; 
	color:#9cc4fd;
}
.hd-text {
	line-height: 66px;
    font-size: 36px;
}
.hd-screen, .hd-retreatBtn {
    top: 9px;
    right: 500px;
    height: 30px;
    padding: 0 15px;
    background: url(../images/hd-screen.png) no-repeat center 7px;
    cursor: pointer;
}
.hd-retreatBtn {
    display: none;
    background-position: 7px -22px;
    background-position-x: 7px;
    background-position-y: -22px;
}

.hd p {
    font-size: 20px;
    color: #b9bcc6;
    line-height: 5px;
    font-family: Microsoft YaHei;
    top: 0;
}
.pa{
    position: absolute;
}
.hd-left{
	left: 45px;
}
.hd-right{
	right: 200px;
}